<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Item Catalog</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"> </script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"> </script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top topnav">
	<div class="container topnav">
		<div class="navbar-header">
        	<a href="/" class="navbar-brand">Catalog App</a>
        </div>	
		<ul class="nav navbar-nav navbar-right">
			<li>
				<div id="signinButton">	
					{%if 'username' not in session %}
					<a href="{{url_for('login')}}" class= "active">
						Login
					</a>
					{% else %}
            		<a href="{{url_for('logout')}}" class= "active">Logout</a>
					{% endif %}
				</div>
			</li>
		</ul>
	</div>
</nav>
</body>